In [1]:
#1. Write a python program to display all the header tags from wikipedia.org and make data frame.
from bs4 import BeautifulSoup
import requests

In [2]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [75]:
soup=BeautifulSoup(page.content)

In [4]:
header_tags=[]
for i in soup.find_all('span',class_='mw-headline'):
    header_tags.append(i.text)

In [5]:
import pandas as pd
df=pd.DataFrame({'Header Tags':header_tags})
df

                     Header Tags
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [6]:
# 2. Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) 
# and make data frame.
IMBD=requests.get("https://www.imdb.com/list/ls055386972/?sort=user_rating,desc&st_dt=&mode=detail&page=1")
IMBD

In [7]:
soup2=BeautifulSoup(IMBD.content)

In [8]:
movie_name=[]

for i in soup2.find_all('h3',class_='lister-item-header'):
    movie_name.append(i.text.split('\n')[2])
    
len(movie_name)

50

In [9]:
rating=[]

for i in soup2.find_all('div',class_='ipl-rating-star small'):
    rating.append(i.text.replace('\n',''))
        
        
len(rating)

50

In [10]:
release=[]
for i in soup2.find_all('span',class_='lister-item-year text-muted unbold'):
    release.append(i.text.replace('(','').replace(')',''))
len(release)

50

In [11]:
df=pd.DataFrame({'Movie Name':movie_name,'Ratings':rating,'Year of Release':release})
df.head()

                 Movie Name Ratings Year of Release
0  The Shawshank Redemption     9.3            1994
1             The Godfather     9.2            1972
2           The Dark Knight       9            2008
3          Schindler's List       9            1993
4              12 Angry Men       9            1957

In [12]:
# 3. Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of 
# release) and make data frame.
response=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
response

In [14]:
soup3=BeautifulSoup(response.content)

In [15]:
name = soup3.find_all("td", class_="titleColumn")
movies_name = []

for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)
len(movies_name)

250

In [16]:
ratings=[]
for i in soup3.find_all('td',class_='ratingColumn imdbRating'):
    ratings.append(i.text.replace('\n',''))
len(ratings)

250

In [17]:
year_of_release=[]
for i in soup3.find_all('span',class_='secondaryInfo'):
    year_of_release.append(i.text.replace('(','').replace(')',''))
len(year_of_release)

250

In [18]:
import pandas as pd
df3=pd.DataFrame({'Movie Name':movies_name,'Ratings':ratings,'Year of Release':year_of_release})
df3.head(5)

                            Movie Name Ratings Year of Release
0  Ramayana: The Legend of Prince Rama     8.5            1993
1           Rocketry: The Nambi Effect     8.4            2022
2                              Nayakan     8.4            1987
3                             Gol Maal     8.4            1979
4                           Anbe Sivam     8.4            2003

In [19]:
# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) 
# from https://presidentofindia.nic.in/former-presidents.htm and make data frame.
page4=requests.get("https://presidentofindia.nic.in/former-presidents.htm")
page4

In [21]:
soup4=BeautifulSoup(page4.content)

In [25]:
name=[]
for i in soup4.find_all('div',class_='presidentListing'):
    name.append(i.text.split('\n')[1])

In [26]:
term_of_office=[]
for i in soup4.find_all('div',class_='presidentListing'):
    term_of_office.append(i.text.split('\n')[2])

In [27]:
df4=pd.DataFrame({'Name':name,'Term of Office':term_of_office})
df4

,Name,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

In [11]:
# 5. Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and ratin
page5=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page5

In [51]:
soup5=BeautifulSoup(page5.content)

In [49]:
ODI_Team=[]
for i in soup5.find_all('tr',class_='table-body'):
    ODI_Team.append(i.text.replace('\n',' ').split(' ')[4:10])

In [52]:
import pandas as pd
df5=pd.DataFrame({'ODI Team Matches Points Rating':ODI_Team})
df5.head(5)

       ODI Team Matches Points Rating
0  [Australia, AUS, , 32, 3,572, 112]
1     [New, Zealand, NZ, , 29, 3,229]
2    [England, ENG, , 33, 3,656, 111]
3   [Pakistan, PAK, , 25, 2,649, 106]
4    [South, Africa, SA, , 27, 2,775]

In [28]:
# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and 
# make data frame
page7=requests.get("https://www.cnbc.com/world/?region=world")
page7

In [29]:
soup7=BeautifulSoup(page7.content)

In [46]:
head_line=[]
for i in soup7.find_all('div',class_='RiverHeadline-headline RiverHeadline-hasThumbnail'):
    head_line.append(i.text)
    
head_line

['Ukraine holds defense as battles rage in Donetsk region, top commander says',
 'Rescue hopes dwindle as earthquake death toll passes 28,000',
 'This income ETF with an 11% yield is attracting tons of retail investors',
 "China tightens requirements on classifying banks' asset risks",
 "Elon Musk's Neuralink is under investigation for possible unsafe transport of contaminated hardware",
 'New Zealand cancels flights as deluge from cyclone looms',
 'ChatGPT frenzy sweeps China as firms scramble for homegrown options',
 'Virtual assisting is a side hustle that can pay as much as $100 an hour—here’s how to get started',
 "34-year-old's Google-backed startup, worth $1.5 billion, wants to make tutoring free for students",
 'What investors need to know about ‘staking,’ the focus of crypto’s latest regulation scare',
 'Goldman Sachs picks stocks to ride the EV wave, giving one upside of 120%',
 "Vietnam's EV maker VinFast says its U.S. plant is on track to start production in 2024",
 'Adidas shares tank after company issues warning over unsold Yeezy stock',
 'Dow closes nearly 170 points higher, S&P 500 and Nasdaq post worst week since December',
 "This 52-year-old retiree left the U.S. for Portugal. Here's how he spends his weekend—on less than $40",
 "An 85-year Harvard study found the No. 1 thing that makes us happy in life: It helps us 'live longer'",
 'Amazon is the latest threat to Facebook as ad targeting suffers',
 "What do Chinese travelers want? Luxury 'star-rated' hotels, says new survey",
 "Turkey's devastating earthquake comes at a critical time for the country's future ",
 'Heavyweight tech battle: How Microsoft and Alphabet stack up against each other in the A.I. war']

In [47]:
time=[]
for i in soup7.find_all('span',class_='RiverByline-datePublished'):
    time.append(i.text)
len(time)

0

In [54]:
news_link=[]
for links in soup7.find_all("a",class_="LatestNews-headline"):
    links=links.get('href')
    news_link.append(links)

In [55]:
len(news_link)

30

In [57]:
# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90
# days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
# Scrape below mentioned details and make data frame
page8=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles")

In [58]:
soup8=BeautifulSoup(page8.content)

In [60]:
paper_title=[]
for i in soup8.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg'):
    paper_title.append(i.text)
len(paper_title)

25

In [61]:
authors=[]
for i in soup8.find_all('span',class_='sc-1w3fpd7-0 dnCnAO'):
    authors.append(i.text)
len(authors)

25

In [62]:
published_date=[]
for i in soup8.find_all('span',class_='sc-1thf9ly-2 dvggWt'):
    published_date.append(i.text)
len(published_date)

25

In [63]:
paper_url=[]
for i in soup8.find_all('a',class_='sc-5smygv-0 fIXTHm'):
    paper_url.append(i.get('href'))
len(paper_url)

25

In [74]:
df8=pd.DataFrame({'Paper Title':paper_title,'Authors':authors,'Published Date':published_date,'Paper URL':paper_url})
df8

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [65]:
# 9. Write a python program to scrape mentioned details from dineout.co.in and make data frame
page9=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page9

In [66]:
soup9=BeautifulSoup(page9.content)

In [67]:
r_name=[]
for i in soup9.find_all('a',class_='restnt-name ellipsis'):
    r_name.append(i.text)

In [68]:
cusine=[]
for i in soup9.find_all('span',class_='double-line-ellipsis'):
    cusine.append(i.text.split('|')[1])

In [69]:
loc=[]
for i in soup9.find_all('div',class_='restnt-loc ellipsis'):
    loc.append(i.text)

In [70]:
ratings=[]
for i in soup9.find_all('div',class_='restnt-rating rating-4'):
    ratings.append(i.text)

In [71]:
img_url=[]
for i in soup9.find_all('img',class_='no-img'):
    img_url.append(i.get('data-src'))

In [72]:
print(len(r_name),len(cusine),len(loc),len(ratings),len(img_url))

9 9 9 9 9

In [73]:
import pandas as pd
df9=pd.DataFrame({'Restaurant name':r_name,'Cuisine':cusine,'Location':loc,'Ratings':ratings,'Image-URL':img_url})
df9

,Restaurant name,Cuisine,Location,Ratings,Image-URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.6,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...